            <footer class="mastfoot mt-auto">
                <div class="inner">
                    <div>
                            <a href="https://www.instagram.com/lowhorizon_/"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.facebook.com/lowhorizon/"><i class="fab fa-facebook-square"></i></a>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>